<h1>Static list</h1>

<div>
  All the columns are sortable except the lname. Click the column-headers to apply sorting.
</div>
<br>
<button click.delegate="useDataset1()">Use dataset1</button>
<button click.delegate="useDataset2()">Use dataset2</button>
<br>
<br>

<data-grid model.bind="people">
  <grid-column property="fname" width="100">
    <header>
      <value-text value="First name"></value-text>
    </header>
    <normal-text value.bind="item.fname"></normal-text>
  </grid-column>
  <grid-column width="50">
    <header>
      <value-text value="Last name"></value-text>
    </header>
    <normal-text value.bind="item.lname"></normal-text>
  </grid-column>
  <grid-column property="age" non-resizable>
    <header>
      <value-text value="Age"></value-text>
    </header>
    <normal-text value.bind="item.age"></normal-text>
  </grid-column>
</data-grid>