name: build

on:
  push:
    branches: [ main ]
    tags: [ v* ]
  pull_request:
    branches: [ main ]

jobs:
  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Event File
        path: ${{ github.event_path }}

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: https://registry.npmjs.org/

      - name: install
        run: npm ci

      - name: build package
        run: npm run build

      - name: test package
        run: npm test

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Test Results
          path: |
            package/tests/.artifacts/results.xml

      # - name: Publish Test Results
      #   uses: EnricoMi/publish-unit-test-result-action/composite@v2
      #   if: always()
      #   with:
      #     files: |
      #       package/tests/.artifacts/results.xml

      # publish to npm
      - name: publish to npm
        run: npm publish --access public --tag latest
        working-directory: ./package
        if: startsWith(github.ref, 'refs/tags/v')

      # TODO: Changelog generation, version tagging